@import "reset.css";

/* Font */
@import url('https://fonts.cdnfonts.com/css/sf-mono');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* Common */
.hide { display: none; }
.visible { display: block; }

html { scroll-behavior:smooth }
body { overflow-x: hidden; }

/* Layout */
#wrap { width: 100%; }
#header { width: 100%; background-color: rgba(0, 71, 255, 1.0); }
#contents { width: 100%; }
#contents section { min-height: 50vh; }
#footer { width: 100%; background-color: rgba(0, 71, 255, 1.0);; color: white; }
.defaultPadding { padding-left: 10rem; padding-right: 10rem; }
.defaultPaddingLeft { padding-left: 10rem; }
.defaultPaddingRight { padding-right: 10rem; }

/* container */
.container { width: 100%; margin: 0 auto; position: relative; height: inherit; }

/* section-0: mobile header */
#mobile-header { display: none; background-color: rgba(0, 71, 255, 1.0); width: 100%; position: sticky; padding: 28px 0 12px 0; top: -16px; z-index: 999999; } 
#mobile-header > .container { padding-left: 4rem; }
#mobile-header img { width: 40px; height: 40px; }

#mobile-header aside { margin-top: 96px; position: fixed; left: 0; top: 0; background-color: white; height: 100vh; width: 100vw; }
#mobile-header aside ul { width: 100%; margin: 0 auto; }
#mobile-header aside ul li { position: relative; cursor: pointer; text-align: left; }
#mobile-header aside ul li::after { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color:rgba(255, 255, 255, 0.2); text-align: center; }
#mobile-header aside ul li:last-child::after { display: none; }
#mobile-header aside ul li a { display: block; padding: 2.4rem 4rem; color: #191F28; font-size: 22px; font-family: 'SF Pro'; font-weight: 510; line-height: normal; }
#mobile-header aside ul li:hover { background-color: rgba(125, 182, 255,); }

.menu-header-cont { width: 100%; margin: 0 auto; position: relative;}
#mobile-header a #menu-close { display: inline-block; position: absolute; top: 0; left: 4%; }
#mobile-header a #menu-close img { margin-top: 12px; display: inline-block; width: 20px; height: 20px; }

/* section-0: desktop header */
#header { position: sticky; top: 0; left: 0; z-index: 999999; padding: 3.75rem 0 1rem 0; top: -2.75rem }
#header > .container { display: flex; justify-content: space-between; }
.header-menu { text-align: center; }
.header-menu .menu { display: inline-block; padding: 1em 0px 0.625em 4em; font-family: 'SF Pro'; font-weight: 510; color: white; }
.header-menu .ticket { display: inline-block; padding: 1em 0px 0.625em 4em; font-family: 'SF Pro'; font-weight: 700; color: white; }
.header-menu a:hover { color: rgb(125, 182, 255); }
.logo img { width: 2.5rem; height: auto; }

#contents .page { top: -7.5rem; }

/* section-1: home */
#contents #home { height: 100vh; z-index: 1; position: relative; color: white; background-color: rgba(0, 71, 255, 1.0); }

#home > .container { display: flex; flex-direction: column; }
#home h2 { margin-top: 3.5em; display: inline-block; font-family: 'SF Pro'; font-weight: 700; font-size: 2.625rem; }

#home #homeGradientView { position: absolute; bottom: 0; width: 100%; height: 40vh; }
#home #homeGradientView { background: linear-gradient(194deg, rgba(24, 59, 112, 0.80) 0%, rgba(31, 44, 91, 0.00) 100%);}
#home #diving { width: 12.5rem; height: 16.4rem; position: absolute; top: -12.5rem; left: 60%;  }
#home #reflectedDiving { width: 18.3rem; height: 7rem; position: absolute; top: 5rem; left: 60%; }
#home .letswiftInfo { font-family: 'SF Pro'; font-weight: 510; font-size: 1.375rem; color: white; }
#home .letswiftInfo { position: relative; padding-top: 1rem; }
#home .introduce { position: absolute; bottom: 30px; }
#home .introduce span { display: inline-block; }
#home .introduce span { font-family: 'SF Pro'; font-weight: 700; font-size: 1.25rem; color: rgb(125, 182, 255); }
#home .artist { font-family: 'SF Mono'; font-weight: 400; font-size: 0.875rem; color: rgb(125, 182, 255); }
#home .artist { position: absolute; right: 10rem; bottom: 30px; }
#home .line { position: absolute; width: 100vw; height: 1px; background-color: rgba(255, 255, 255, 0.3); }


/* section-2: about1 */
#contents #about { height: 540px; position: relative; background-color: rgba(0, 71, 255, 1.0); }
#contents #about > .container { display: flex; flex-direction: column; justify-content: center; }
#about #aboutStart { padding-bottom: 1rem; }
#about p { text-align: left;  ; color: white; font-family: 'SF Pro'; font-weight: 700; font-size: 2rem; line-height: 3rem; }
.about-content { padding-top: 3.5rem; }
.about-content span { display: block; margin-bottom: 1rem; font-family: 'SF Pro'; font-weight: 510; font-size: 1.375rem; color: rgb(125, 182, 255); line-height: 1.5rem;}

/* section-3: speakers */
#contents #speakers { position: relative; background-color: #F9FAFB; }
#speakers h3, #location h3, #organizers h3 { font-size: 1.5rem; font-family: 'SF Mono'; font-weight: 700; color: #0047FF; padding-top: 7.5rem; }

#speakers ul { width: 90%; margin: 5rem 8rem 5rem 8rem; text-align: center; }
.speakerList .speaker { border-radius: 8px; background: #FFF; box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.02); }
.speakerList .speaker { width: 15.4rem; height: 20.1rem; text-align: center; }
.speakerList li { margin-bottom: 2rem; margin-left: 1rem; margin-right: 1rem; vertical-align: auto; display: inline-block; text-align: center; }
.speakerList .speaker .photo { width: 9.375rem; height: 9.375rem; position: relative; margin-top: 2.5rem; margin-bottom: 1.5rem; border-radius: 50%;  }
.speakerList h4 { color: #191F28; text-align: center; font-family: 'SF Pro'; font-size: 1.25rem; font-style: normal; font-weight: 700; line-height: normal; }
.speakerList p { display: inline-block; padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 0.75rem; }
.speakerList p { color: #6B7684; text-align: center; font-family: 'SF Pro'; font-size: 0.875rem; font-style: normal; font-weight: 400; line-height: 1.25rem; }

/* section-4: about2 */
#contents #about2 { height: 500px; position: relative; background-color: white; }
#contents #about2 > .container { display: flex; flex-direction: column; justify-content: center; }
#about2 #about2Start { padding-bottom: 1rem; }
#about2 p { text-align: left; color: black; font-family: 'SF Pro'; font-weight: 700; font-size: 2rem; }
.about2-content { padding-top: 3.5rem; }
.about2-content span { display: block; margin-bottom: 1rem; font-family: 'SF Pro'; font-weight: 510; font-size: 1.375rem; color: #6B7684; line-height: 1.5rem;}

/* TODO: section-5: program */
#contents #programs { position: relative; background-color: rgba(0, 71, 255, 1.0);}
#programs h3 { font-size: 1.5rem; font-family: 'SF Mono'; font-weight: 700; color: white; padding-top: 7.5rem; }

/* section-6:Location */
#contents #location { background-color: #F9FAFB; height: 100vh; }
#locationDiv { display: flex; }
#location p { color: #6B7684; font-family: 'SF Pro'; font-size: 1.375rem; font-style: normal; font-weight: 510; line-height: normal; }
#locationStart { padding-top: 5rem; }
#locationEnd { padding-top: 1rem; }
#map-container { width: 45vw; height: 50vh; padding-top: 5rem; padding-left: 6rem; }

/* section-7: organizer */
#contents #organizers { position: relative; background-color: white; }

#organizers ul { width: 90%; margin: 5rem 8rem 5rem 8rem; text-align: center; }
.organizerList .organizer { width: 9.375rem; height: 20.1rem; text-align: center; float:left ; } /* height: 20.1rem; */
.organizerList li { margin-bottom: 2rem; margin-left: 1rem; margin-right: 1rem; display: inline-block; text-align: center; }
.organizerList .organizer .photo { width: 9.375rem; height: 9.375rem; position: relative; margin-top: 2.5rem; margin-bottom: 1.5rem; border-radius: 50%; object-fit: cover; }
.organizerList h4 { color: #191F28; text-align: center; font-family: 'SF Pro'; font-size: 1rem; font-style: normal; font-weight: 700; line-height: normal; }
.organizerList p { display: inline-block; padding-top: 0.75rem; }
.organizerList p { color: #6B7684; text-align: center; font-family: 'SF Pro'; font-size: 0.875rem; font-style: normal; font-weight: 400; line-height: 1.25rem; }

/* footer */
#footer { display: inline-block; background-color: rgba(0, 71, 255, 1.0); }
#footer #letswiftName { padding-top: 5rem; padding-left: 10rem; }
#footer #letswiftName { color: #FFF; font-family: SF Pro; font-size: 1rem; font-style: normal;font-weight: 700; line-height: normal; }
#footer #email { padding-top: 0.625rem; padding-left: 10rem; padding-bottom: 5rem; }
#footer #email { color: #85BBFF; font-family: SF Pro; font-size: 1rem; font-style: normal; font-weight: 510; line-height: normal; }
#footer .copywriter { height: 80px; line-height: 80px; color: white; font-family: 'SF Pro'; font-size: 0.875rem; font-style: normal; font-weight: 400;}

@media (max-width: 2560px) {
    .container { width: 100%; }
    .defaultPadding { padding-left: 10rem; padding-right: 10rem; }
    .defaultPaddingLeft { padding-left: 10rem; }
    .defaultPaddingRight { padding-right: 10rem; }
    .header-menu .menu { display: inline-block; padding: 1em 0px 0.625em 4em; }
    .header-menu .ticket { display: inline-block; padding: 1em 0px 0.625em 4em; } 

    /* section-1: home */
    #home .artist { right: 10rem; }

    /* section-3: speakers */
    #speakers ul { width: 90%; margin: 5rem 8rem 5rem 8rem; text-align: center; }
}

/* 화면너비 0 ~ 1250 : 데스크탑 */
@media (max-width: 1250px) {
    html { font-size: 14px }
    .container { width: 100%; }
    .defaultPadding { padding-left: 8rem; padding-right: 8rem; }
    .defaultPaddingLeft { padding-left: 8rem; }
    .defaultPaddingRight { padding-right: 8rem; }
    .header-menu .menu { display: inline-block; padding: 1em 0px 0.625em 2em; }
    .header-menu .ticket { display: inline-block; padding: 1em 0px 0.625em 2em; } 
    /* section-1: home */
    #home .artist { right: 8rem; }
    /* section-3: speakers */
    #speakers ul { width: 90%; margin: 5rem 8rem 5rem 8rem; text-align: center; }

    /* section-6: Location */
    #locationDiv { display: inline-block; }
    #location p { color: #6B7684; font-family: 'SF Pro'; font-size: 1.375rem; font-style: normal; font-weight: 510; line-height: normal; }
    #locationStart { padding-top: 5rem; }
    #locationEnd { padding-top: 1rem; }
    #map-container { width: 80vw; height: 50vh; padding-top: 5rem; padding-left: 0rem; }
}

@media (max-width: 800px) {
    html { font-size: 12px; }
    .container { width: 100%; }
    .defaultPadding { padding-left: 4rem; padding-right: 4rem; }
    .defaultPaddingLeft { padding-left: 4rem; }
    .defaultPaddingRight { padding-right: 2rem; }
    /* section-1: home */
    #home .artist { right: 4rem; }

    /* section-3: speakers */
    #speakers ul { width: 90%; margin: 5rem 4rem 5rem 4rem; text-align: center; }

    /* section-6: Location */
    #locationDiv { display: inline-block; }
    #location p { color: #6B7684; font-family: 'SF Pro'; font-size: 1.375rem; font-style: normal; font-weight: 510; line-height: normal; }
    #locationStart { padding-top: 5rem; }
    #locationEnd { padding-top: 1rem; }
    #map-container { width: 80vw; height: 50vh; padding-top: 5rem; padding-left: 0rem; }
}

/* 화면너비 0 ~ 576 : 모바일 */
@media (max-width: 576px) {
    html { font-size: 10px; }
    .container { width: 100%; }
    .defaultPadding { padding-left: 4rem; padding-right: 4rem; }
    .defaultPaddingLeft { padding-left: 4rem; }
    .defaultPaddingRight { padding-right: 2rem; }
    .line-change.active-only-mobile { display: initial; }

    /* header */
    #header { display: none; }
    #mobile-header { display: block; }
    #mobile-header .logo { text-align: left; }
    #mobile-header .menu { position: absolute; text-align: right; }
    .menu { position: absolute; top: 50%; right: 6.4rem; transform: translateY(-50%); }

    /* section-1: home */
    #home .artist { right: 4rem; }
    #home h2 { margin-top: 4em; display: inline-block; font-family: 'SF Pro'; font-weight: 700; font-size: 2.625rem; }

    /* section-3: speakers */
    #speakers ul { width: 90%; margin: 5rem 0rem 5rem 2rem; text-align: center; }

    /* section-6: Location */
    #locationDiv { display: inline-block; }
    #location p { color: #6B7684; font-family: 'SF Pro'; font-size: 1.375rem; font-style: normal; font-weight: 510; line-height: normal; }
    #locationStart { padding-top: 5rem; }
    #locationEnd { padding-top: 1rem; }
    #map-container { width: 80vw; height: 50vh; padding-top: 5rem; padding-left: 0rem; }
}