@import "reset.css";

/* Layout */
#wrap { width: 100%; }
#header { width: 100%; background-color: rgba(118, 211, 134, 0.5); }
#header > .container { display: flex; justify-content: space-between; padding: 20px 0; }
#contents { width: 100%; }
#contents section { height: 100vh; background-color: #f2f2f2; border-top: 1px solid red; }
#footer { width: 100%; height: 100px; line-height: 100px;  background-color: #0A0A0A; color: white; text-align: center;}

/* container */
.container { width: 1100px; margin: 0 auto; position: relative; height: inherit; }

/* header */
.logo { display: inline-block; }
.header-menu { text-align: right; }
.header-menu a { display: inline-block; padding: 10px 0px 10px 12px; }
.header-menu a:hover { color: #555; }

/* contents > section-01:home */
#contents .section-01 { position: relative; background-color: #0A0A0A; color: white; }
.section-01 .social-links { position: absolute; left: 0px; bottom: 50px; }
.section-01 h2 { font-weight: bold; font-size: 104px; }

