@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800&family=Nanum+Myeongjo:wght@400;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* Common */
.hide { display: none; }
.visible { display: block; }

/* Layout */
#wrap { width: 100%; }
#header { width: 100%; background-color: rgba(32, 32, 32, 1.0); }
#contents { width: 100%; }
#contents section { min-height: 100vh; border-top: 1px solid red; }
#footer { width: 100%; background-color: #0A0A0A; color: white; text-align: center;}

/* container */
.container { width: 1720px; margin: 0 auto; position: relative; height: inherit; }

/* header: mobile */
#mobile-header { display: none; background-color: rgba(0, 0, 0, 1.0); width: 100%; position: fixed; top: 0; left: 0; z-index: 999999; } 
#mobile-header > .container { display: flex; justify-content: space-between; padding: 1.250em 0; }
#mobile-header aside { padding-top: 2vh; position: fixed; right: 0; top: 0; background-color: white; height: 100vh; width: 60vw; }
#mobile-header a#menu-close { display: inline-block; position: absolute; top: 0; right: 0; }
#mobile-header aside ul { margin-left: 10%; margin-top: 2rem; width: 90%; }
#mobile-header aside ul li { margin-bottom: 1.2rem; }
#mobile-header aside ul li a { color: #202020; font-size: 22px; font-family: 'Jost'; font-weight: 400; }
#mobile-header .logo img { margin-top: 0.625em; }


/* header: desktop */
#header { position: fixed; top: 0; left: 0; z-index: 999999; }
#header > .container { display: flex; justify-content: space-between; padding: 1.250em 0; }
.header-menu { text-align: right; }
.header-menu a { display: inline-block; padding: 0.625em 0px 0.625em 6em; font-family: 'Jost'; font-weight: 500; color: white; }
.header-menu a:hover { color: rgb(161, 161, 161); }
.logo { display: inline-block; }

/* contents > section-01:home */
#contents #home { height: 100vh; position: relative; color: white; background-color: #202020; }
#contents #home::before { content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 100%; opacity: 0.07; background: url('../images/img-background-home.png') no-repeat center; background-size: cover; }

#home > .container { display: flex; flex-direction: column; justify-content: center; align-items: center; }
#home .social-links { position: absolute; left: 0px; bottom: 10vh; }
#home .social-links a { display: inline-block; }
#home .social-links a:last-child { margin-left: 2vw; }
#home h2 { margin-bottom: 2.125rem; position:relative; display: inline-block; font-family: 'Jost'; font-weight: 800; font-size: 7.500rem; }
#home h2::after { position: absolute; top: -20px; right: -40px; width: 60px; height: 56px; background: url('../images/simbol-bird.png') no-repeat 0px 0px; content: ""; }
#home p { text-align: center; font-size: 1.375rem; font-family: 'Jost'; font-weight: 400; }
#home p.ticket-day { margin-top: 0.4em; }

/* contents > section-02:about */
#contents #about { height: 100vh; background: url('../images/background-about.png') no-repeat #F7F7F7; text-align: center; }
#contents #about > .container { display: flex; flex-direction: column; justify-content: center; align-items: center; }
#about h3 { margin-bottom: 3.313rem; color: #171717; font-family: 'Jost', sans-serif; font-weight: bold; font-size: 2.938rem;}
#about h3 b { color: #FF3F2A; }
#about span { margin-bottom: 0.9em; line-height: 1.5em; font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 1.125rem; }
#about span em { font-weight: 500; font-size: 1.438rem; }

/* round button */
.btn-round { height: 3.438rem; padding: 0 40px; border-radius: 1.875em;  display: inline-block; box-sizing: border-box; cursor: default; background: #F14F3D; font-family: 'Noto Sans KR';}
.btn-round:hover { cursor: pointer; }
.btn-round a { margin-right: 0.375em; color: white; line-height: 3.438rem; }
.btn-round img { vertical-align: text-bottom; }

.btn-round.location { background: #F14F3D; }
.btn-round.question { background-color: #FAAA41; }
#about .buttons .spacer { display: inline-block; width: 26px; }

/* contents > section-03:speakers */
#speakers { background-color: #f2f2f2; }
#speakers h3 { text-align: center; font-size: 47px; font-family: 'Jost'; font-weight: 700; }
#speakers .profile-list li { width: 19.8%; display: inline-block; text-align: center; }
#speakers .profile-list img { width: 100%; }
#speakers .profile-list h4 { font-family: 'Noto Sans KR'; font-weight: 700; font-size: 22px; color: #0A0A0A; }
#speakers .profile-list span { display: inline-block; margin-top: 5px; font-family: 'Noto Sans KR'; font-weight: 300; color: #3C3C3C; }


/* contents > section-04:Program */
#program { background-color: #0A0A0A; }
#program .cont-wrap.desktop { overflow-x: scroll; }

/* Program: 모바일 */
#program .cont-wrap.mobile { color: white; }
#program .cont-wrap.mobile .tabs li { width: 45%; display: inline-block; cursor: pointer; padding: 1.4% 1%; font-family: 'Jost'; font-weight: 700; font-size: 17px; border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
#program .cont-wrap.mobile .tabs li:first-child { margin-right: 3%; }
#program .cont-wrap.mobile .tabs li.active { border-bottom: 2px solid #FAAA41; color: #FAAA41; }

#program .cont-wrap.mobile .tab-content { padding-top: 35px; display: none; margin-left: 12px; }
#program .cont-wrap.mobile .tab-content.active { display: inherit; }


    /* Program: 모바일 - 공통 */
#program .tab-content > li { position: relative; padding-bottom: 25px; }
#program .tab-content > li::before { content: ''; width: 1px; height: 100%; position: absolute; top: 5px; left: -9px; background-color: rgba(250, 170, 65, 0.4); }
#program .tab-content > li:last-child::before { display: none;  }
#program .tab-content .time { position: relative; margin-bottom: 0.8rem; color: #FAAA41; font-family: 'Jost'; font-weight: 600; }
#program .tab-content .time::before { content: ''; position: absolute; top: 4px; left: -12px; width: 7px; height: 7px; background-color: #FAAA41; border-radius: 50%; }
#program .tab-content .caption { padding: 1rem; border-radius: 10px; }
#program .tab-content h5 { font-size: 16px; font-family: 'Noto Sans KR'; font-weight: 700; }

    /* Program: 모바일 - 스피치 */
#program .tab-content .speech .caption { border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 10px; }
#program .tab-content .speech .caption h5 { margin-bottom: 8px; }
#program .tab-content .speech .caption span { color: rgba(255, 255, 255, 0.6); }
#program .tab-content .speech .caption span > strong { font-family: 'Noto Sans KR'; font-weight: 700; }
#program .tab-content .speech .caption span > i { font-size: 14px; font-family: 'Jost'; font-weight: 300; }

    /* Program: 모바일 - 쉬는시간 */
#program .tab-content .rest .caption { background-color: rgba(255, 255, 255, 0.1); }

    /* Program: 모바일 - 이벤트 */
#program .tab-content .event { color: #FAAA41; }
#program .tab-content .event .caption { border: 2px dashed #FAAA41; }
#program .tab-content .event .actors { margin-top: 8px; }
#program .tab-content .event .actors li:first-child { margin-bottom: 4px; }
#program .tab-content .event .actors li { font-family: 'Noto Sans KR'; }
#program .tab-content .event .actors .role { font-weight: 300; display: inline-block; width: 60px; }
#program .tab-content .event .actors li b { font-weight: 700; }


/* contents > section-05:Location */
#location { display: flex; }
#location > div { width: 50%; }

#location .text-container { display: flex; justify-content: end; align-items: center; color: white; background: url('../images/img-background-map.png') no-repeat bottom #000000; }
#location .text-contents { width: 80%; padding-top: 10%; padding-bottom: 10%; }
#location .text-contents h3 { border-bottom: 1px solid #FAAA41; font-family: 'Jost'; font-weight: 700; font-size: 2.938rem; }
#location li:first-child { margin-top: 3.438em; }
#location li { margin-bottom: 3.000em; }
#location li:last-child { margin-bottom: 0px; }
#location li.address img { vertical-align: top; }
#location li .caption { display: inline-block; font-family: 'Noto Sans KR'; }
#location li .caption h4 { margin-bottom: 0.625em; font-size: 1.375rem; font-weight: 700; }
#location li .caption span { margin-left: 2.300em; font-weight: 400; font-size: 1.125rem; } 
#location li.address .caption h4::before { content: ''; display: inline-block; width: 25px; height: 25px; background: url('../images/icon-location-address.png') no-repeat; margin-right: 0.750em; vertical-align: text-bottom; }
#location li.day .caption h4::before { content: ''; display: inline-block; width: 25px; height: 25px; background: url('../images/icon-location-calendar.png') no-repeat; margin-right: 0.750em; vertical-align: text-bottom; }
#location li.time .caption h4::before { content: ''; display: inline-block; width: 25px; height: 25px; background: url('../images/icon-location-time.png') no-repeat; margin-right: 0.750em; vertical-align: text-bottom; }
#location li.subway .caption h4::before { content: ''; display: inline-block; width: 25px; height: 25px; background: url('../images/icon-location-subway.png') no-repeat; margin-right: 0.750em; vertical-align: text-bottom; }


#location #map-container { background: url('../images/img-map.png') no-repeat #555 center; }

/* contents > section:Sponsor */
#contents section#sponsor { min-height: auto; padding-top: 100px; padding-bottom: 100px; }
#sponsor { background-color: white; }
#sponsor li { width: 407px; height: 100px; display: inline-block; }
#sponsor li img { width: 100%; }


/* contents > section-06:Staff */
#staff {}
#staff h3 { font-size: 47px; font-family: 'Jost'; font-weight: 700; }
#staff ul { display: inline-flex; flex-wrap: wrap; }
#staff ul li { width: 14.285% }
#staff ul li img { width: 100%; }
#staff li h4 { margin-top: 18px; font-size: 18px; font-family: 'Noto Sans KR'; font-weight: 700; }
#staff li span { margin-top: 9px; display: inline-block; font-size: 14px; font-family: 'Noto Sans KR'; font-weight: 400; }


/* pray */
#pray { height: 350px; text-align: center; color: white; background: url('../images/img-background-footer.png') no-repeat right top #131419; }
#pray .container { display: flex; flex-direction: column; justify-content: center; }
#pray span { display: block; margin-bottom: 1.250em; font-size: 1.375rem; font-family: 'Nanum Myeongjo', serif; font-weight: 400; }
#pray span:last-child { margin-bottom: 0; }
#pray span b { font-weight: 800; font-size: 1.563rem; }

/* footer */
#footer { text-align: center; }
#footer .copywriter { height: 100px; line-height: 100px;}


/* 디자인시안: 1720px */
/* 화면너비 0 ~ 1720 : 데스크탑 */
@media (max-width: 1740px) {
    .container { width: 96%; }
    #contents #home { background-color: darkgreen; }
    .header-menu a { padding: 0.625em 0px 0.625em 3em; }
    /* contents > Sponsor */
    #sponsor li { width: 24%; height: auto; }
}

/* 화면너비 0 ~ 1280 : 데스크탑 */
/* @media (max-width: 1280px) {
    #contents #home { background-color: darkgreen; }
} */

/* 화면너비 0 ~ 1024 : 데스크탑 */
@media (max-width: 1024px) {
    .container { width: 98%; }
    #contents #home, #program { background-color: red; }
    .header-menu a { padding: 0.625em 0px 0.625em 1.2em; }
    /* contents > Home */
    #home h2 span { display: block; }
    #home h2 span.year { text-align: center; }
    /* contents > Location */
    #location li .caption span { margin-left: 0; font-weight: 400; font-size: 1.125rem; } 

}

/* 화면너비 0 ~ 960 : 노트북 */
/* @media (max-width: 960px) {
    #contents #home { background-color: orange; }
} */

/* 화면너비 0 ~ 768 : 타블렛 */
@media (max-width: 768px) {
    html { font-size: 15px; }
    .container { width: 98%; }
    #contents #home, #program { background-color: green; }

    /* contents > Location */
    #location { display: flex; flex-direction: column; }
    #location > div { width: 100%; }
    #location .text-container { justify-content: center; }
    #location #map-container { height: 100vh; }
    /* pray */
    #pray { height: 300px; }
    #pray span { margin-bottom: 1em; font-size: 1.275rem; }

    /* 이때부터 program 모바일 이미지 보여주기 */
}

/* 화면너비 0 ~ 576 : 모바일 */
@media (max-width: 576px) {
    .container { width: 96%; }
    #contents #home, #program { background-color: blue; }
    /* header */
    #header { display: none; }
    #mobile-header { display: block; }
    #mobile-header .logo { width: 100%; text-align: center; }
    /* contents > Home */
    #home h2 { font-size: 5.5rem; }
    #home h2::after { display: none;}
    #home h2::before { position: absolute; top: -30%; left: 58%; width: 60px; height: 56px; background: url('../images/simbol-bird.png') no-repeat 0px 0px; content: ""; }
    /* contents > About */
    #contents #about { padding: 2.4em 0 }
    #about span { line-height: 1.4em; }
    .btn-location { width: 98%; }
    /* contents > Location */
    #location li .caption span { font-size: 1.18rem; }
    /* contents > Sponsor */
    #contents section#sponsor { padding-top: 2rem; padding-bottom: 2rem; }
    #sponsor li { width: 49%; height: auto; }

    
    
}